# uncomment any one of the required url
# Android emulator
# REACT_APP_BE_DEV_BACKEND_URL='http://10.0.2.2:3000'

# IOS Emulator
# REACT_APP_BE_DEV_BACKEND_URL='http://127.0.0.1:3000'

# Real device connected to backend at local machine (use own IP address)
# REACT_APP_BE_DEV_BACKEND_URL='http://192.168.1.105:3000'

# heroku backend
REACT_APP_BACKEND_URL='https://monashhealthcare-app.herokuapp.com'