# uncomment any one of the required url
# localhost
# REACT_APP_BACKEND_URL='http://localhost:3000'

# heroku backend
REACT_APP_BACKEND_URL='https://monashhealthcare-app.herokuapp.com'

# For local development purpose, Create-React-App and Express defaulted to port:3000
PORT=3006